@font-face {
    font-family:"akzidenz-grotesk";
    src:url("../fonts/Akzidenz-Grotesk/AkzidenzGroteskBE-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:"akzidenz-grotesk";
    src:url("../fonts/Akzidenz-Grotesk/AkzidenzGroteskBE-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"akzidenz-grotesk";
    src:url("../fonts/Akzidenz-Grotesk/AkzidenzGroteskBE-It.otf");
    font-weight: normal;
    font-style: italic;
}


:root {
    --nav-bg: #606060;
    --orange: #FBAA04;
    --blue: #0455FB;
    --body-bg: var(--blue);
}

html {
    font-family:"akzidenz-grotesk", "Helvetica Neue", "Arial", sans-serif;
}

body {
    margin: 0;
    font-size: 20pt;
    background: var(--body-bg);
    color: white;
}

.content {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24pt;
    margin-bottom: 100px;
    text-align: justify;
}

.content h3 {
    font-weight: bold;
    font-size: 36pt;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 40vh;
    align-items: center;
    justify-content: center;
}


.cover {
    width: 300px;
    padding-right: 100px;
    text-align: center;
    position: relative;
    bottom: 0px;
}

.cover h1 {
    font-size: 72pt;
    line-height: 0pt;
}

.covername {
    color: var(--orange);
   /* opacity: 65%; */
    position: relative;
    z-index: 9;
    margin-bottom: -40px;
}
.covername2 {
    color: white;
    /*opacity: 65%;*/
    position: relative;
    left: 48pt;
}

.links {
    width: 300px;
    padding-left: 52px;
    padding-right: 48px;
    position: relative;
}

.stanza {
    padding-top: 60px;
    white-space: pre-line;
    line-height: 150%;
    font-size: 16pt;
}

.poem {
    padding-bottom: 100px;
    white-space: pre-line;
    line-height: 150%;
    font-size: 16pt;
}

.poem h3 {
    padding-bottom: 150px;
}


.links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
 
.links li {
    font-weight: bold;
    padding: 10px;
}


.links a {
    text-decoration: none;
    font-size: 24pt;
    color: white;
}

.content a {
    text-decoration: none;
    color: white;
}
.content li {
    margin-bottom: 12pt;
}
a:hover {
    color: orange;
}
@media (orientation: portrait) {
    .content {
        max-width: 85%;
        font-size: 14pt;
    }
    .container {
        flex-direction: column;
        height: 70vh;
    }
    .cover {
        padding-left: 52px;
    }
    
    .poem {
        font-size: 12pt;
    }
    .stanza {
        font-size: 12pt;
    }
}
